form {
        margin: 0 auto;
        width: 600px;
}
  
input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

input, select {
    border: 1px solid #ccc;
    padding: 10px;
    /* display: block; */
    width: 50%;
    box-sizing: border-box;
    border-radius: 2px;
}
.row {
    padding-bottom: 10px;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.droptarget {
    float: left; 
    width: 100px; 
    height: 100px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }